*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}
table{
    border-collapse:collapse;
}

th{
    padding: 4px 8px;
    border: black 2px solid;
    font-size: 1.5em;
}

thead{
    background: #c3c3c3;
}